$title-active: #222222; // 각종 타이틀과 링크
$grey1: #888888; // 본문 및 라벨
$grey2: #BBBBBB; // 플레이스 홀더
$gray3: #D7D7D7; // 라인
$off-white: #F6F6F6; // 서브 배경색
$white: #FFFFFF; // 기본 배경색
$primary: #045D8B; // 메인 컬러
$red: #F45452; // 오류 및 삭제
